/.DS_Store
/Getting Started with PostgreSQL (macOS).pdf
/Tutorial 4 Slides.pdf
/add geom column.sql
/complexity measurement in sql
/ground_truth
/infs4205_7205_project_spec_v0(1).pdf
/old report.docx
/postgres
/project_nobug.py
/report python example
/s4763354_LokYeeJoeyCheung.zip
/s4763354_Report.docx
/sql files
/test knn.py
/test.py
/trash
/visuals